$background-color-base: blue;
$background-color-important: darkblue;
$background-color-warning: rgb(0, 229, 249);
$font-family: "Comic Sans MS";
$font-size: 15px;
$font-family-principal: "Times New Roman";
$font-family-secundaria: "Times New Roman";
$shadow-box: (10px 15px 10px 0px black);
$border-color: 1px black, solid;
$border-radius: 10px;
